.Admin_Form{
    box-shadow: none !important;
    // width: 540px;
        max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 28px 58px 40px;
    border: 1px solid #d8d8d8;
    border-radius: 23px;
    min-height: calc(100vh - 34vh);
 
}